html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 85% Arial, Helvetica, sans-serif;
  background: #8CC642 url(../images/green_back.jpg) repeat;
  color: #000;
  
}

p
{ padding: 0 0 10px 0;
  color: #FFF;
  line-height: 1.7em;
  font-size: 100% }



h1, h2, h3, h4, h5, h6 
{ font: normal 175% Arial, Helvetica, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: normal 165% Arial, Helvetica, sans-serif;}

h3
{ font: normal 130% Arial, Helvetica, sans-serif;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}

a
{ color: #FFF;
  font-weight: bold;
  background: transparent;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}


#main, #header, #banner, #menubar, #site_content, #footer, #content_bottom
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}
  
#header
{ width: 960px;
  height: 120px;
  /*padding: 10px 0 0 0;*/
  background: transparent;}

#banner
{ width: 960px;
  position: relative;
  
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;}

/****O;d Menubar*******
#menubar
{ width: 960px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  } */  
  
#welcome
{ width: 960px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;
  
  } 

#welcome
{ width: 960px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;} 
  
   
#welcome h1
{ font: normal 300% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;}
  
#welcome h2
{ font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;}

/*  #welcome_slogan
{ width: 960px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;}
#welcome_slogan h1
{ font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;}  

/********Menu********/  

 
/*----- Menu Outline -----*/

 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
#menubar {     /**********New Menubar*********/
	width: 960px;
	height: 50px;
	text-align: center; 
	margin: 0 auto;
    /*width:100%;*/
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
	
	background: -moz-linear-gradient(#339933, #3e3436);
	background: -o-linear-gradient(#339933, #3e3436);
	background: -webkit-linear-gradient(#339933, #3e3436);
	border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border: 15px 15px 0px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}
 
.menu {
    width:1000px;
    margin:0px auto;
	
}
 
.menu li {
    margin:0px;
    list-style:none;
	text-decoration: none;
    font-family:bold 120% Arial, Helvetica, sans-serif;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
	list-style:none;
	text-decoration: none;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#8CC642;
	
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
	
}
 
.menu > ul > li > a {
    padding:16px 20px 10px 20px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
	
	
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
	
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:11;
    opacity:1;
	margin:0px 0px;
}
 
.sub-menu {
    width:120%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}
  
/*****************/

#site_content
{ width: 940px;
  padding-left: 20px;
  overflow: hidden;
  margin: 0 auto;
  background: transparent url(../images/transparent.png);
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border: 0px 0px 15px 15px;} 

.sidebar_container
{ float: left;
  margin: 10px 20px 0 0;
  width: 215px;
  padding: 0;}

.sidebar
{ float: left;
  width: 250px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 215px;}

.sidebar h2
{ padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #000;
  color: #fff;
  background:#3e3436;
	
	background: -moz-linear-gradient(#339933, #3e3436);
	background: -o-linear-gradient(#339933, #3e3436);
	background: -webkit-linear-gradient(#339933, #3e3436);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

#content
{ width: 680px;
  margin-bottom: 20px;
  float: left;}

.content_item
{ width: 680px;
  margin-top: 20px;
  margin-bottom: 20px;}
  
.content_image
{ float: left; 
  width: 150px;
  height: 150px;
  margin: 0 20px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
.content_container
{ width: 320px;
  padding: 5px;
  margin-right: 10px;
  float: left;}

.button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 90px;
  padding: 5px 5px 10px 7px;
  background:#3e3436;
	
	background: -moz-linear-gradient(#339933, #3e3436);
	background: -o-linear-gradient(#339933, #3e3436);
	background: -webkit-linear-gradient(#339933, #3e3436);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
  
  
  
.mem-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
  
 th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
 }
 td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
  }
		
}

  
  
  
  
  
  
.button_small a
{ color: #FFF;
  padding-left: 5px;}  
  
  
#content_bottom
 { width: 960px;
  height: 160px;
  text-align: center;} 
  
#content_bottom p
 { color: #000;
  text-shadow: 1px 1px #FFF; }  

#content_bottom h4
{ color: #000;
  text-shadow: none;}
  
.content_bottom_container_box
{ width: 295px;
  padding: 5px;
  text-align: center;
  margin: 20px 0 10px 10px;
  float: left;}

.content_bottom_container_boxl
{ width: 295px;
  padding: 5px;
  text-align: center;
  margin: 20px 0 10px 10px;
  float: left;}
  
 .readmore
{ font: bold 110% Arial, Helvetica, sans-serif;
  height: 15px;
  margin-left: 95px;
  width: 90px;
  padding: 5px 5px 10px 7px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
 .readmore a
{ color: #1D1D1D;}
  
#footer
{ width: 960px;
  height: 20px;
  padding-top: 20px;
  text-align: center; 
  background: transparent;
  color: #1D1D1D;
  text-shadow: 1px 1px #FFF;}

#footer a, #footer a:hover
{ color: #1D1D1D;
  text-decoration: none;
  padding-bottom: 20px;}

#footer a:hover
{ text-decoration: underline;}
  

 


.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  color: #FFF;}

.slideshow {
  width: 680px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}


/* styling for the slideshow on the homepage */

ul.slideshow {
  list-style: none;
  width: 680px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 680px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) no-repeat; 
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;}
 
 
 
 
label {
    font-weight:bold;
    width:100px;
    font-size:14px;
	color:white;
}
         
.box {
    border:#666666 solid 1px;
}
 


